@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Fairfield LT Std';
    src: url('./font/FairfieldLTStd-Light.woff2') format('woff2'),
      url('./font/FairfieldLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Flecha M';
    src: url('./font/FlechaM-Medium.woff2') format('woff2'),
      url('./font/FlechaM-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GT Walsheim Pro';
    src: url('./font/GTWalsheimPro-Regular.woff2') format('woff2'),
      url('./font/GTWalsheimPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GT Walsheim Pro';
    src: url('./font/GTWalsheimPro-Light.woff2') format('woff2'),
      url('./font/GTWalsheimPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GT Walsheim Pro';
    src: url('./font/GTWalsheimPro-Medium.woff2') format('woff2'),
      url('./font/GTWalsheimPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  h1 {
    @apply text-5xl md:text-8xl text-gray-dark font-thin leading-[1.1em] font-serif;
  }

  h2 {
    @apply text-[5vw] md:text-[3vw] font-medium font-serif;
  }

  h3 {
    width: max-content;
    @apply font-serif;
  }

  h4 {
    @apply text-xl font-serif;
  }

  h5 {
    @apply font-sans tracking-widest leading-tight text-2xl md:text-4xl;
  }

  p,
  small,
  li {
    @apply font-sans tracking-wide;
  }
}
